In [44]:
import pandas as pd
import matplotlib.pyplot as plt

Placing the csv in a pandas dataframe:

In [45]:
arrival_df = pd.read_csv('data.csv')

In [46]:
arrival_df.head()

   8:56 AM  9:00 AM  7:45 AM 7:45 AM.1  8:05 AM 7:45 AM.2
0  8:40 AM  8:40 AM  8:30 AM   8:30 AM  8:45 AM   8:20 AM
1  8:45 AM  8:20 AM  8:05 AM   8:00 AM  8:05 AM   8:00 AM
2  8:40 AM  8:40 AM  8:40 AM   8:25 AM  8:40 AM   8:40 AM
3  8:55 AM  8:50 AM  8:55 AM   8:10 AM  8:15 AM   8:05 AM
4  8:45 AM  8:45 AM  8:45 AM   8:40 AM  8:30 AM   8:40 AM

I can see two corrections that I need to make:
1. I need to set a header row for my data so I do not lose the inital row. To not just replace that row, I am going to reload the dataframe with a given set of column names.
2. I will have to reshape it in some way to look at the time values. My plan is to then take my dataframe and convert it into one Series with a simple list comprehension.

In [47]:
column_names =['Mon-1', 'Tues-1', 'Weds-1','Thurs-1','Fri-1', 'Mon-2']
arrival_df = pd.read_csv('data.csv', names=column_names)
arrival_df.head()

     Mon-1   Tues-1   Weds-1  Thurs-1    Fri-1    Mon-2
0  8:56 AM  9:00 AM  7:45 AM  7:45 AM  8:05 AM  7:45 AM
1  8:40 AM  8:40 AM  8:30 AM  8:30 AM  8:45 AM  8:20 AM
2  8:45 AM  8:20 AM  8:05 AM  8:00 AM  8:05 AM  8:00 AM
3  8:40 AM  8:40 AM  8:40 AM  8:25 AM  8:40 AM  8:40 AM
4  8:55 AM  8:50 AM  8:55 AM  8:10 AM  8:15 AM  8:05 AM

In [48]:
arrival_series = pd.concat([schedule_df[i] for i in schedule_df.columns])
arrival_series.head()

0    8:56 AM
1    8:40 AM
2    8:45 AM
3    8:40 AM
4    8:55 AM
dtype: object

Yay! Much easier to play with now. Now, I am going to convert my Series into datetime objects

In [49]:
# schedule_single_df = pd.to_datetime(schedule_single_df)

By running the cell above, I realized there is a value of 'absent' for one day, messing up my time conversion. To correct, I am going to drop that row to make the rest of my data workable.